.text-overflow-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.yh-lnglats #yh-map ,.yh-lnglats #yh-map-instance {
  width: 100%;
  height: 460px;
}

.yh-lnglats #yh-map .amap-geolocation,.yh-lnglats #yh-map-instance .amap-geolocation {
  left: 15px !important;
}

.yh-lnglats .yh-inputs {
  position: absolute;
  z-index: 10;
  width: 240px;
  left: 20px;
  top: 15px;
}

.yh-lnglats .yh-inputs ul {
  background: #fff;
  max-height: 360px;
  overflow-y: auto;
  padding: 0px 10px;
  box-sizing: border-box;
}

.yh-lnglats .yh-inputs ul li {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 0px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px dashed #b4b4b4;
}

.yh-lnglats .yh-inputs ul li span {
  color: #a3a3a3;
}

.yh-lnglats .yh-inputs ul li i {
  color: rgba(25, 137, 250, 0.7);
}

.yh-lnglats .yh-inputs ul li:hover {
  background: rgba(25, 137, 250, 0.1);
}

.yh-lnglats .yh-latlngtext {
  position: absolute;
  right: 20px;
  z-index: 10;
  top: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  background: #fff;
  color: #757575;
}

.yh-lnglats .yh-latlngtext span {
  color: #2e2e2e;
}

.yh-lnglats .el-dialog {
  border-radius: 10px;
  overflow: hidden;
}

.yh-lnglats  .el-dialog__header {
  padding: 8px 20px;
  position: relative;
  background: #D8EAFF;
}

.yh-lnglats .el-dialog__header span {
  font-size: 15px;
  font-weight: bold;
  color: #2c2d2e;
}

.yh-lnglats .el-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 0px;
  height: 100%;
}

.yh-lnglats .el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #525050;
  font-weight: 900;
}

.yh-lnglats .el-dialog .el-dialog__body {
  padding: 8px;
  position: relative;
}

.yh-lnglats .el-dialog .dialog-footer {
  position: absolute;
  bottom: 24px;
  right: 32px;
}