.yh-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.yh-loading .loading-tip {
  font-size: 14px;
}
.yh-loading-wrap{
  position: absolute;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
